{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>Welcome to an adventure through Marigold!</h1>
    <img src="/img/MarigoldCompressed.jpg" alt="Cover image">
  </hero>
  <p>This webbpage will take you on an amazing adventure throughout the city of Marigold!</p>
  <p>As the sun rose over the kingdom of Marigold, the land was filled with a sense of unease. The evil sorcerer, Malakar, had risen to power and was terrorizing the people with his dark magic. He had unleashed a horde of monstrous creatures on the kingdom, leaving destruction in their wake.</p>

  <form action="/username" method="post">
    <label for="username">Enter your name to start your story:</label>
    <input type="text" id="username" name="username" placeholder="Enter your name here...">
    <input type="submit" value="submit">
  </form>

</main>
{% endblock %}